<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="serviceBasedProjectBuilder"
         name="Service-based Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.springframework.ide.service.eclipse.builder.ServiceBasedProjectBuilder">
         </run>
      </builder>
   </extension>
   
   <extension
         id="serviceBasedToolingNature"
         name="Spring Boot Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.springframework.ide.service.eclipse.builder.ServiceBasedToolingNature">
         </run>
      </runtime>
      <builder
            id="org.springframework.ide.service.eclipse.serviceBasedProjectBuilder">
      </builder>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Spring Boot Nature commands"
            id="org.springframework.ide.service.eclipse.serviceBasedToolingNature.category">
      </category>
      <command
            name="Add/Remove Nature for Tooling Services"
            defaultHandler="org.springframework.ide.service.eclipse.builder.AddRemoveServiceBasedToolingNatureHandler"
            categoryId="org.springframework.ide.service.eclipse.serviceBasedToolingNature.category"
            id="org.springframework.ide.service.eclipse.addRemoveServiceBasedToolingNature">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.springframework.ide.service.eclipse.addRemoveServiceBasedToolingNature"
               label="Disable Service-based Project Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="org.springframework.ide.service.eclipse.serviceBasedToolingNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.springframework.ide.service.eclipse.addRemoveServiceBasedToolingNature"
               label="Enable Service-based Project Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="org.springframework.ide.service.eclipse.serviceBasedToolingNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
</plugin>
